@tailwind base;
@tailwind components;
@tailwind utilities;


img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

::-webkit-scrollbar {
    width: 6px;
    visibility: hidden;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #141414;
}

.skills {
    background: url('../public/assets/images/jungles.jpg') no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: opacity(0.8);
}

.moving-text {
    transition: all 400ms ease-in-out;
    opacity: 0.3;
}

.moving-text:last-child {
    margin-bottom: 0;
}

.moving-text.active {
    opacity: 1;
}

@media screen and (max-width: 620px) {
    .moving-text {
        font-size: 2.5rem;

    }
}

.slide {
    flex: 0 0 auto;
    max-width: min(70%, 620px);
    opacity: 0.4;
    transition: opacity 0.4s ease-in;
}

.slide.active {
    opacity: 1;
}

.viewport.is-draggable {
    cursor: move;
    cursor: grab;
}

.viewport.is-draggable.is-dragging {
    cursor: grabbing;
}

.footer-link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(5px);
    width: 100%;
    opacity: 0;
    height: 1px;
    background: #fff;
    transition: all 250ms ease-in-out;
}

.footer-link:hover::before {
    transform: translateY(0px);
    opacity: 1;
}

.form__label {
    position: relative;
    font-size: 1rem;
    border-top: 20px solid transparent;
    margin-bottom: 5px;
    --field-padding: 12px;
}

.form__input {
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    padding: var(--field-padding);
    outline: none;
    position: relative;
    z-index: 2;
    border: 2px solid #fff;
    border-radius: 1.25rem;
    transition: all 0.3s ease;
}

.form__label .placeholder {
    position: absolute;
    left: var(--field-padding);
    top: 50%;
    transform: translateY(-50%);
    color: rgb(184, 184, 196);
    background: #000;
    transition: all 0.3s ease;
}

.form__input:focus {
    border-color: rgb(8 145 178);
}

.form__input:focus+.placeholder,
.form__input:not(:placeholder-shown)+.placeholder {
    top: 0;
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
    z-index: 3;
    letter-spacing: 0.2px;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
}